body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: black;
}

about {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: black;
}